<div class="product-list">
  <div class="actions">
    <button type="button" class="btn btn-info">Add Product</button>
  </div>

  <table class="table table-striped table-bordered table-responsive">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"></th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col" class="s-150 center-text">Price</th>
        <th scope="col" class="s-100 center-text">Discount</th>
        <th scope="col" class="center-text">Stock</th>
        <th scope="col" class="s-100 center-text">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <img [src]="product.cover" class="mr-2" style="width: 50px">
        </td>
        <td>{{ product.title }}</td>
        <td>{{ product.description }}</td>
        <td class="center-text">{{ product.price }}</td>
        <td class="center-text">{{ product.discount }}</td>
        <td class="center-text">{{ product.stock }}</td>
        <td class="buttons">
          <!-- <button type="button" class="btn btn-primary btn-sm">
            <fa-icon class="primary" [icon]="faEdit"></fa-icon>
          </button> -->
          <fa-icon class="btn btn-primary btn-sm" [icon]="faEdit"></fa-icon>
          <fa-icon class="btn btn-danger btn-sm" [icon]="faTrash"></fa-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>