<div class="product-list">
  <div class="actions">
    <button type="button" class="btn btn-info" (click)="openAddProductModal()">Adicionar Produto</button>
  </div>

  <h4>Lista de Produtos</h4>

  <table class="table table-striped table-bordered table-responsive">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"></th>
        <th scope="col">Título</th>
        <th scope="col">Descrição</th>
        <th scope="col" class="s-150 center-text">Preço</th>
        <th scope="col" class="s-100 center-text">Desconto</th>
        <th scope="col" class="center-text">Estoque</th>
        <th scope="col" class="s-100 center-text">Disponivel</th>
        <th scope="col" class="s-100 center-text">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <img [src]="product.cover" class="mr-2" style="width: 50px">
        </td>
        <td>{{ product.title }}</td>
        <td>{{ product.description }}</td>
        <td class="center-text">{{ product.price }}</td>
        <td class="center-text">{{ product.discount }}</td>
        <td class="center-text">{{ product.stock }}</td>
        <th scope="col" class="s-100 center-text">{{product.available ? 'SIM' : 'NÃO'}}</th>
        <td class="buttons">
          <fa-icon class="btn btn-primary btn-sm" [icon]="faEdit" (click)="openAddProductModal(product)"></fa-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>